<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin_layout">
      
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Order Home page</title>
    <link rel="stylesheet" th:href="@{/paymentstyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/pharmacy/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div layout:fragment="content">
<form method="post" action="/admin/payment/pgredirect" th:object="${PaymentDetails}">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>You are 30 seconds away from earning your own money!</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Welcome to Paytm Payment</h3>
                        <div class="row register-form">
                            <div class="col-md-10">
							<div class="form-group">

                                    <input type="text" tabindex="1" maxlength="20" size="20" placeholder="Order ID" th:field="${PaymentDetails.orderId}" th:value="${PaymentDetails.orderId}" disabled
                                           name="orderId" autocomplete="off" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Customer ID" th:field="${PaymentDetails.customerId}" th:value="${PaymentDetails.customerId}" disabled 
                                           name="customerId"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="INDUSTRY_TYPE_ID" th:field="${PaymentDetails.industryTypeId}" th:value="${PaymentDetails.industryTypeId}" disabled
                                           name="industryTypeId"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Channel" th:field="${PaymentDetails.channelId}" th:value="${PaymentDetails.channelId}" disabled
                                           name="channelId"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Amount" th:field="${PaymentDetails.total}" th:value="${PaymentDetails.total}" disabled
                                           name="total"/>
                                </div>
                                <!--  <input type="submit" class="btnRegister"  value="Pay with Paytm"/>   -->
                                <button type="submit" class="btnRegister" style="align : center">Pay with Paytm</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
</div>
</body>

</html>